actividad19/actividad19.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="lista_de_notas">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="nota">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="para" type="xs:string" />
              <xs:element name="de" type="xs:string" />
              <xs:element name="titulo" type="xs:string" />
              <xs:element name="contenido" type="xs:string" />
            </xs:sequence>
            <xs:attribute name="dia" type="xs:date" use="optional" />
            <xs:attribute name="hora" type="xs:time" use="optional" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>